.ProfileInfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "profile-details"
      "posts";
}

.profileInfoContainer{
    grid-area: profile-details;
    display:flex;
    height: 190px;
    background-color:rgba(68, 29, 80, 0.601);
    border-radius: 8px;
}

.avatar {
    margin: 10px;
}

.avatar img {
    width: 170px;
    height: 170px;
    border-radius: 8px;
}

.detailsContainer {
    flex-direction: column;
    margin: 0 4px 0 4px;
}

.fullName {
    display: flex;
    align-items: flex-end;
    height: 146px;
    font-weight: 700;
    font-size: 24px;
}

.aboutMe {
    display: flex;
    align-items: flex-end;
    height: 26px;
    font-style: oblique;
    font-weight: 500;
    font-size: 18px;
}

.posts {
    grid-area: posts;
    width: 100%;
    padding: 24px 0 0 14px;
    font-weight: 600;
    font-size: 20px;
}